<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
<% include pageHeader %>
<form method='POST' action='/notes/save'>
<input type='hidden' name='docreate' value='<%=
                  docreate ? "create" : "update"%>'>
<p>Key:
<% if (docreate) { %>
    <input type='text' name='notekey' value=''/>
<% } else { %>
    <%= note ? notekey : "" %>
    <input type='hidden' name='notekey' value='<%= 
                  note ? notekey : "" %>'/>
<% } %>
</p>
<p>Title: <input type='text' name='title' value='<%=
                  note ? note.title : "" %>' /></p>
<br/><textarea rows=5 cols=80 name='body' ><%= note ? note.body : "" %></textarea>
<br/><input type='submit' value='Submit' />
</form>
<% include footer %>
</body>
</html>