body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  background: #eeeeee;
  padding: 5px;
}

header.page-header h1 {
    margin-top: 5px;
}

header.page-header .breadcrumb {
    margin-bottom: 5px;
}

header.page-header a.btn-primary {
    float: right;
}