<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
<div class="container-fluid">
<% include pageHeader %>
<% if (notelist.length > 0) { %>
<div class="row"><div class="col-xs-12">
<div class="btn-group-vertical" role="group" style="width: 100%;"><%
for (var note of notelist) {
  %>
  <a class="btn btn-lg btn-block btn-default" href="/notes/view?key=<%= note.key %>">
      <%= note.title %>
  </a><%
}
%></div>
<% } %>
</div></div>

<% include footer %>
</div>
</body>
</html>