<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
<% include pageHeader %>
<div class="row"><div class="col-xs-12">
<% if (user) { %>
<form method='POST' action='/notes/destroy/confirm'>
<input type='hidden' name='notekey' value='<%= note ? notekey : "" %>'>
<p>Delete <%= note.title %> ?</p>
<br/><input type='submit' value='DELETE' /> <a class="btn btn-default" href="/notes/view?key=<%= notekey %>">Cancel</a>
</form>
<% } else { %>
<% include not-logged-in %>
<% } %>
</div></div>
<% include footer %>
</body>
</html>
